  ion-toolbar, a {
    font-weight: bold;
    color:white;

    .story-header-icon {
        height: 18px;
        color: white;
      }

     

    >div {
      display: flex;
      margin-left: 10px;
      margin-right: 10px;
      justify-content: space-between;

       >span {
        font-size: 16px;
      }
    }

    .tour-link {
      text-decoration: underline; 
      float: right;
    }
  }

  .about {
    line-height: 22px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 10px;;
      .header-color {
        // color:black;
         >i {
           font-size: 20px;
         }
     }

  .contact-us {
    margin-bottom: 0; 
 }

 .links-color {
  color:#ff637c; 

  &.restart {
    text-decoration: underline; 
  }
 }
 
}


.about-page {
   ion-list {

    ion-item {
      background-color: transparent;
      padding-left: 0;
      position: relative;

      .description-container {
        line-height: 22px;

        .header-title {
        // color:black;
         font-size: 16px;
         margin-bottom: 5px;
         margin-top: 10px;
         margin-right: 19px;
      }
    }
  
    }
    ion-icon  {
      font-size: 1.8rem;
      padding: 0;
      text-align: center;
      position: absolute;
      right: 10px;
      margin-top: 10px;
      top: 3px;
      &:before {
        font-weight: bold;
      }
    }

   .description {
      line-height: 22px;
       margin: 0 0 1em 0;
      color: #808080;
    }
  }

  article {
    line-height: 22px;
    margin-left: 15px;
  }

  .space-bottom {
    margin-bottom: 10px;

    &.line-height {
      line-height: 0;
    }
  }

  .footer {
    line-height: 22px;
    margin-left: 15px;
    margin-bottom: 5px;
  }
   .links-color {
     color: #ff637c;
     margin-bottom: 5px;
    // font-size: 16px;

  &.restart {
    text-decoration: underline; 
  }

  &.remove-bold {
    font-weight: normal;
  }
 }

 h4 {
   font-size: 16px;
 }
}

