<ion-header>
  <ion-toolbar>
    <div>
      <!-- <img class="story-header-icon" src="./assets/icon-square.svg"> -->
      <span>Paradime - Overview</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="about-page">
    <ion-item>
      <div class="space-bottom">
        <h4> 30 second habits </h4>
        <p> Do you have 30 seconds of free time in a day? If yes, that is enough to start a new habit and make it
          effective.
        </p>
      </div>
    </ion-item>
    <ion-item>
      <div class="space-bottom">
        <h4> The Plan </h4>
        <p> 1. Find a daily habit that you want to include in your routine. </p>
        <p> 2. Make it so tiny that it is only about 5 to 30 seconds. It should be very clear and should need no effort
          or pain
          to complete.</p>
        <p> 3. Find the right cue, an already existing habit and plan to do your new habit after this existing habit.
          Such as
          brushing, or having breakfast and so on. </p>
        <p> 4. Once done, do a little celebration to cheer yourself up and feel good. </p>
      </div>
    </ion-item>
    <ion-item>
      <div class="space-bottom">
        <h4> What to do when you completed your tiny habit and want to keep going? </h4>
        <p> Say your new planned tiny habit is to do read 2 sentences from a book. Once you complete, although you have
          done
          your task for today, keep going if you feel like doing more. </p>

        <p> If not, it is totally fine to stop after reading 2 sentences and mark your achievement. Most days you will
          feel like
          doing more since you feel good. </p>
      </div>
    </ion-item>
    <ion-item>
      <h4> Going big vs going tiny </h4>
    </ion-item>
    <ion-item>
      <div class="space-bottom">
        <h3> What happens when you go big: </h3>
        <p> <b> Sample Goal: </b> Complete 100 pages everyday!!! </p>
        <p> <b> Difficulty: </b> Too hard to do it. It takes effort and it causes pain and negative emotions. </p>
        <p> <b> Ambiguity: </b> Not clear how to do, and when to do. </p>
        <p> <b> Resistance: </b> When we think of our task, we instantly get the feeling it is going to be hard and
          create negative
          emotions. Natually our brain tricks us to do things that are easy and makes us get instant pleasures. Such as
          scrolling
          social media feeds, eating junk good and watching Netflix. So we procrastinate. In the end, we would have not
          written
          even 1 line at the end of the week and we feel bad. </p>
      </div>
    </ion-item>
    <ion-item>
      <div class="space-bottom">
        <h3> What happens when you go tiny: </h3>
        <p> <b> Sample Goal: </b> After you complete your lunch, and wash your hands, open the notebook and write 1
          line. </p>
        <p> <b> Difficulty: </b> The task is embarassingly tiny. It is super easy. A cake walk for you. </p>
        <p> <b> Ambiguity: </b> We have no idea how to do this, when to do this or what new obstacles I will face while
          doing
          this. </p>
        <p> <b> Resistance: </b> You are going to finish the tiny habit as it is no big deal for you. Once you finish
          you tiny
          task, you will most likely be interested to keep the flow going. Resistance will naturally go away. In the
          end,
          at least you would have written 1 line. Most likely you would have written 100s of pages due to the flow in no
          time with good quality. </p>
      </div>
    </ion-item>
    <ion-item>
      <div class="space-bottom">
        <h4> Consistency is key: </h4>
        <p> Doing something that you feel good consistently leads to forming habits. There are no proofs that there are
          magic
          numbers like 21 Days to form an habit. </p>
        <p> As per B.J.Fogg, Behaviour scientist at Stanford university, repetition is not the key to forming habits.
          Instead
          when you feel good about doing something, you will do it consistently and it will help you form an habit.
        </p>
      </div>
    </ion-item>
    <ion-item>
      <div class="space-bottom">
        <h4> Books to read on this subject </h4>
        <i> 1. Tiny habits: The Small Changes The Change Everything - B.J.Fogg. </i> <br>
        <i> 2. Atomic habits: Tiny Changes Remarkable Results - James Clear </i> <br>
        <i> 3. Mini habits: Smaller Habits, Bigger Results - Stephen Guise </i>
      </div>
    </ion-item>
    <ion-item>
      <div class="space-bottom">
        <h4>Privacy Policy</h4>
        <a routerLink="/privacy" class="links-color remove-bold">Read the privacy statement here.</a>
      </div>
    </ion-item>
    <ion-item>
      <div class="space-bottom">
        <h4>Contact Us </h4>
        <p class="contact-us">General questions about the app or report a bug: </p><a
          href="https://spectrum.chat/paradime" class="links-color remove-bold" target="_blank">Spectrum
          Chat</a>
        <p class="contact-us">To contribute or provide feedback: </p>
        <div class="links-color">contact.paradime@gmail.com</div>
      </div>
    </ion-item>
    <ion-item>
      <div class="space-bottom">
        <h4>Credits</h4>
        <p>Icons by below designers from www.flaticon.com </p>
        <p> Good ware, Monkik, Eucalyp, Smartline, Smash icons, Darius Dan and Wichai.Wi </p>
        <p> Vector art by below designers from www.freepik.com </p>
        <p> Starline, Studiogstock, Freepik, Macrovector, Pch.vector, Katemangostar, Vectorpocket, Pikisuperstar,
          Upklyak, Iconicbestiary,
          Vectorpouch, Slidesgo, and Rawpixel.com </p>
        <p> Music by CO.AG Music. </p>
        <p> Additional BGM by VSSONIC, Musopen and Youtube Audio Library. </p>
      </div>
    </ion-item>
    <ion-item lines="none">
      <footer class="space-bottom line-height">
        <h4>Concept, Story, Tech and Design</h4>
        <p class="links-color">Rajesh Kumar & Srinivas Merugu</p>
      </footer>
    </ion-item>
  </div>
</ion-content>