<ion-header>
  <ion-toolbar id="step1">
    <span class="habit-title">Fantastical</span>
  </ion-toolbar>
</ion-header>

<ion-content class="journal-page">
  <div class="header-image">
    <div class="modal-title" (click)="firstActionClick()"> {{messageOne}} </div>
  </div>
  <div>
    <div class="journal">
      <div class="journal-image">How are you feeling?
        <ion-text color="danger">*</ion-text>
      </div>
      <ion-card class="emoticon-container">
        <div>
          <div class="emoticon" *ngFor="let item of items; index as i">
            <img src="../assets/smileys/{{item.img}}.svg" (click)="emoticonClick(item,i)">

            <ion-icon *ngIf="item.name === 'First' && iconChecked1" class="check-class" name="checkmark-circle">
            </ion-icon>
            <ion-icon *ngIf="item.name === 'Second' && iconChecked2" class="check-class" name="checkmark-circle">
            </ion-icon>
            <ion-icon *ngIf="item.name === 'Third' && iconChecked3" class="check-class" name="checkmark-circle">
            </ion-icon>
            <ion-icon *ngIf="item.name === 'Fourth' && iconChecked4" class="check-class" name="checkmark-circle">
            </ion-icon>
            <ion-icon *ngIf="item.name === 'Fifth' && iconChecked5" class="check-class" name="checkmark-circle">
            </ion-icon>

          </div>
        </div>

      </ion-card>

      <ion-item>
        <div class="label-size"> {{messageTwo}}
          <ion-textarea id="box" [(ngModel)]="journalStatement" placeholder="What's up..." clear-on-edit="true">
          </ion-textarea>
        </div>
      </ion-item>

      <ion-button expand="block" disabled={{journalSubmitDisable}} class="journal-submit" color="primary"
        (click)="addJournal()">
        Record
      </ion-button>
    </div>

    <!-- <div class="feed-container">
      <ion-grid>
        <ion-row *ngIf="feedData?.length>0">
          <div class="feed-label" position="floating">Journal Feed: </div>
        </ion-row>
        <ion-card>
          <ion-row class="journal-data" *ngFor="let feed of feedData | slice:0:3; let i=index">
            <ion-col size="3">
              <div> <img src="../../assets/smileys/{{feed.emoticon}}.svg"> </div>
            </ion-col>
            <ion-col size="9">
              <div class="journal-text">{{feed.journal}}</div>
              <span class="journal-day">Day {{feed.day}}</span>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-button expand="block" class="balance-placement" *ngIf="journalButton" (click)="viewAllJournals()">
          view all Journals
        </ion-button>
      </ion-grid>
    </div> -->
  </div>
</ion-content>