.intro-slides {
 .video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  z-index: 10;
 }

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
 // background-color: #345C9A;
  background-color: #4375ff;
  color: white;
  font-weight: bold;

  ion-slide {
    height: 100vh;
    display: flex;
    flex-direction: column;

    ion-img {
      max-width: 50vw;
      max-height: 50vh;
      overflow: hidden;
    }

    .slidesheader {
      font-size: 16px;
      letter-spacing: 1px;
      font-family: 'Montserrat', sans-serif !important;
      font-weight: bold;
      margin-bottom: 10px;

      &.challengeSelectHeader {
        margin-top: 16px;
        padding-bottom: 0;
        margin-bottom: 10px;
      }
    }
    
    .habit-card-container {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      overflow: scroll;
      width: 100%;

      .habit-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 15px;
      }

    > ion-card {
      flex: 1 0 50%;
      background-color: white;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
      border: 1px solid #cfcfcf;
      }

      .challenge-header {
        display:flex;
      }

      .habit-card-content {
        display: flex;
        justify-content: center;
        font-size: 12px;
        // top: -25px;
      }

      .check {
        position: absolute;
        right: 2px;
        color: white;
        top: 1px;
      }

      .triangle {
        width: 0px;
        border-top: 30px solid #e4e4e4;
        border-left: 30px solid transparent;
        margin-left: auto;
      }

      .triangle__selected {
        border-top: 30px solid #FF4374;
      }
    }
    
    .slidestext {
      font-family: 'Montserrat', sans-serif !important;
      padding: 1em;
      line-height: 22px;
    }
  }
}

ion-slides {
  .swiper-pagination {
   top: 80px;
   bottom: inherit;
  }

    --bullet-background: black;
    --bullet-background-active: white;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination {
   top: 80px;
   bottom: inherit;
}

 .step-detail {
    display: flex;
    margin-bottom: 10px;
    margin-left: 5px;
    justify-content: center;

    .title-font {
      margin-bottom: 5px;
    }
    img {
      height: 70px;
      width: 100px;
    }

    .title-font {
      margin-left: 5px
    }
  }

