<div class=intro-slides>
  <ion-slides [pager]="true" [options]="slideOpts" #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <div class="slidesheader"> CHOOSE A GOAL</div>
      <ion-img src="/assets/img/archery.svg"></ion-img>
      <div class="slidestext">Find a long term goal and decide a habit which you want to introduce into your life to
        reach the goal.
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slidesheader"> MAKE IT TINY </div>
      <ion-img src="/assets/img/atom.svg"></ion-img>
      <div class="slidestext"> Make the habit embarrassingly small that it is requires no effort or pain and takes just
        5 to 30 seconds.
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slidesheader">FIND A CUE</div>
      <ion-img src="assets/img/ball-pool.svg"></ion-img>
      <div class="slidestext"> Decide when do you need to do this habit. Do it after an existing routine or do it after
        a certain time. </div>
    </ion-slide>

    <ion-slide>
      <div class="slidesheader"> FELL GOOD </div>
      <ion-img src="assets/img/party.svg"></ion-img>
      <div class="slidestext"> Take some time to do a little celebration and Write 3 words to express your positive
        feeling

      </div>
    </ion-slide>

    <ion-slide>
      <div class="slidesheader "> REPEAT </div>
      <ion-img src="assets/img/repeat.svg "></ion-img>
      <div class="slidestext "> There is no step 5. That`s it! Just repeat steps 2 to 4 everyday. You will achieve the
        goal! </div>

      <ion-footer no-border>
        <div class="input-wrap">
          <ion-button expand="full" (click)="goToTabs()">Get Started</ion-button>
        </div>
      </ion-footer>
    </ion-slide>

  </ion-slides>
</div>