<ion-tabs color="primary">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="habit">
      <ion-icon name="golf-outline"></ion-icon>
      <ion-label>Habits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="/assets/img/story.svg"></ion-icon>
      <ion-label>Records</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="journal">
      <ion-icon src="/assets/img/diary.svg">></ion-icon>
      <ion-label>Journal</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="about">
      <ion-icon src="/assets/icon-square.svg"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <!-- <ion-icon name="moon-outline"></ion-icon> -->
      <ion-toggle [checked]="toggleChecked" (ionChange)="onClick($event)"></ion-toggle>
      <ion-label>Dark</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
