<ion-header>
  <ion-toolbar>
    <div>
      <!--    <ion-back-button (click)="viewAllJournals()"> </ion-back-button> -->
      <ion-title>Habit List</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>

    <ion-row>
      <ion-col>
        <div>
          <ion-img src="assets/img/bronze-medal.png"></ion-img>
        </div>
        <h6>
          Bronze
        </h6>
        <h3>
          {{countsBronze}}
        </h3>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/img/ruby.png"></ion-img>
        </div>
        <h6>
          Ruby
        </h6>
        <h3>
          {{countsRuby}}
        </h3>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/img/silver-medal.png"></ion-img>
        </div>
        <h6>
          Silver
        </h6>
        <h3>
          {{countsSilver}}
        </h3>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/img/diamond.png"></ion-img>
        </div>
        <h6>
          Diamond
        </h6>
        <h3>
          {{countsDiamond}}
        </h3>

      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/img/trophy.png"></ion-img>
        </div>
        <h6>
          Gold
        </h6>
        <h3>
          {{countsGold}}
        </h3>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="tablestyle">
    <ion-row class="table-header">
      <ion-col size="5">
        Habit name
      </ion-col>
      <ion-col>
        Total Days
      </ion-col>
      <ion-col>
        Days Done
      </ion-col>
      <ion-col>
        Success %
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of habitData; let i=index">
      <ion-col size="5">
        {{item.formData.iWill}}
      </ion-col>
      <ion-col>
        {{item.habitPlanned}}
      </ion-col>
      <ion-col>
        {{item.habitTotal}}
      </ion-col>
      <ion-col>
        {{item.habitProg}}
      </ion-col>
    </ion-row>






  </ion-grid>

  <!-- <ion-card class="record-container" *ngFor="let item of recordData; let i=index">
    <div class="record">{{item.recordInput}}</div>
  </ion-card>
  <ion-grid>
    <ion-card *ngFor="let feed of feedData; let i=index">
      <ion-row class="journal-data">
        <ion-col size="3">
          <div> <img src="../../assets/smileys/{{feed.emoticon}}.svg"> </div>
        </ion-col>
        <ion-col size="9">
          <div class="journal-text">{{feed.journal}} {{feed.habitData?.afterI}}</div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

-->


  <ion-grid>
    <ion-card *ngFor="let feed of partfeedData; let i=index">
      <ion-row class="journal-data">
        <ion-col size="3">
          <h5> {{feed.journalfeedDataWeek}}</h5>
          <h2> {{feed.journalfeedDataDate}} </h2>
          <h6> {{feed.journalfeedDataMonth}} </h6>
        </ion-col>
        <ion-col size="9">
          <div class="journal-text">{{feed.journal}} {{feed.habitData?.afterI}}</div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-button class="habit-submit-button" expand="full" type="submit" (click)="viewAllJournals()"> View all journals
  </ion-button>

</ion-content>