ion-toolbar {
  position: relative;
  color: white;

  >div {
    display: flex;
  }

 

  ion-back-button {
    float:left;
    margin-top: -2px;
    display: block;
    color: white;
   }
  ion-title {
    padding-inline-end: 20px;
    padding-inline-start: 10px;
    font-weight: bold;
  }
}

ion-col {
  div   {
    ion-img { 
    height: 90px;
    }
  }
  h3 {
    text-align: center;
  }
  h6{
    text-align: center;
  }
}


/* 
ion-grid {
 
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
  
 .table-header {
    background-color:  grey;
    font-weight: bold;
  }

  .goal-card{
    background-color: green;
  }

  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}

*/ 

.tablestyle {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
  
 .table-header {
    background-color:  grey;
    font-weight: bold;
  }

  .goal-card{
    background-color: green;
  }

  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}


.record-container {
  .record {
    padding: 10px;
    display: flex;
  }
}

.no-record {
  padding: 10px;
}

  .goal-card {
    background: #FCE7DA;

    .goal-container {
      display: flex;
      margin: 10px;

    .goal-icon {
      height: 18px;
    }

    .goal-text {
      // color: black;
        margin-left: 15px;
      }
    }
  }

  .journal-data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

  .journal-text {
      margin-bottom: 5px;
      // color: black;
    }
    .journal-day{
      font-size: 13px;
    }
  }
