ion-toolbar {
  position: relative;
  color: white;

  >div {
    display: flex;
  }

  ion-back-button {
    float:left;
    margin-top: -2px;
    display: block;
    color: white;
   }
  ion-title {
    padding-inline-end: 20px;
    padding-inline-start: 10px;
    font-weight: bold;
    padding: 10px;
  }
}
 
.habit-page {
  .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 10px;

    .label-size {
      padding: 10px;
      font-size: 20px;
    }

    .habit-first-time {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
    }

    .view-more-placement {
      margin: 10px;
    }

    .todo-container {
      .trash {
        background-color: inherit;
        color:#FF4374;
      }
      .afteri-label {
        margin-top: 10px;
        padding: 20px;
      }
    }

    .strikethrough {
      text-decoration: line-through;
    }
  }
}

.goal-card {
    background: #FCE7DA;

    .goal-container {
      display: flex;
      margin: 10px;

    .goal-icon {
      height: 18px;
    }

    .goal-text {
      // color: black;
        margin-left: 15px;
      }
    }
  }

  #or {
  position: relative;
  height: 50px;
  margin-left: 25px;

  line-height: 50px;
  text-align: center;
}

#or::before,
#or::after {
  position: absolute;
  width: 130px;
  height: 1px;

  top: 24px;

  background-color: #aaa;

  content: '';
}

#or::before {
  left: 0;
}

#or::after {
  right: 0;
}
