<ion-header>
  <div>
    <ion-toolbar id="step1">
      <div class="header-container">
        <ion-back-button *ngIf="backEnabled" (click)="goBack()"> </ion-back-button>
        <ion-title>After - Goal</ion-title>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content class="habit-page">
  <div class="container">
    <div *ngIf="habitInitial">
      <div class="habit-first-time">
        <h1>Habits</h1>
        <h3>Nothing Tracked?</h3>
      </div>

      <div class="custom-image">
        <img src="./assets/img/challengeImage.png">
      </div>

      <div class="input-wrap">
        <ion-button expand="full" (click)="start()">Let's start</ion-button>
      </div>
    </div>

    <form [formGroup]="habitForm" (ngSubmit)="addHabit()" *ngIf="(!habitInitial && !habitAdded)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-card class="goal-card">
          <div class="goal-container">
            <img class="goal-icon" src="./assets/img/goal.svg">
            <ion-label class="goal-text"> Write a Habit</ion-label>
          </div>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-label class="label-size" position="stacked">I Will..
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-textarea id="box" [(ngModel)]="iWill" placeholder="What's up..." formControlName="iWill">
            </ion-textarea>
          </ion-item>
        </ion-card>
        <ion-card class="goal-card">
          <div class="goal-container">
            <img class="goal-icon" src="./assets/img/goal.svg">
            <ion-label class="goal-text"> select a cue</ion-label>
          </div>
        </ion-card>
        <ion-card [disabled]="afterIDisable">
          <ion-item>
            <ion-label class="label-size" position="stacked">After I ..
            </ion-label>
            <ion-textarea id="box" [(ngModel)]="afterI" placeholder="What's up..." formControlName="afterI"
              (ionChange)="afterIchange($event, this.afterI)">
            </ion-textarea>
          </ion-item>
        </ion-card>
        <div id="or">OR</div>
        <div *ngIf="(!habitInitial && !habitAdded)">
          <ion-card [disabled]="habitForm?.value?.afterI?.length>0 ? true : false">
            <ion-item>
              <ion-label>Select Remainder time</ion-label>
              <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" value="mydate" [(ngModel)]="mydate"
                formControlName="mydate" (ionChange)="setRemainder(this.mydate)"></ion-datetime>
            </ion-item>
          </ion-card>
        </div>
      </ion-list>
      <ion-button class="habit-submit-button" expand="full" type="submit" [disabled]="!habitForm.valid">Add a habit
      </ion-button>
    </form>

    <div *ngIf="habitAdded ">
      <ion-card class="goal-card " *ngIf="habitData.length===0 ">
        <div class="goal-container ">
          <img class="goal-icon " src="./assets/img/goal.svg ">
          <ion-label class="goal-text " *ngIf="!customBoolean "> No to-do's!</ion-label>
        </div>
      </ion-card>
      <ion-list lines="full " class="ion-no-margin ion-no-padding ">
        <div>
          <ion-card class="goal-card " *ngIf="habitData.length> 0">
            <div class="goal-container">
              <img class="goal-icon" src="./assets/img/goal.svg">
              <ion-label class="goal-text" *ngIf="!customBoolean"> Your to-do's!</ion-label>
            </div>
          </ion-card>
          <div *ngFor="let item of habitData; let i=index" class="todo-container">
            <ion-label class="afteri-label">After I {{item.formData.afterI}},
            </ion-label>
            <ion-item>
              <ion-label [style.text-decoration]="item.checked ? 'line-through' : 'none'">I will {{item.formData.iWill}}
              </ion-label>
              <ion-checkbox slot="start" [disabled]="item.checked ? 'true' : 'false'" [checked]="item.checked"
                (ionChange)="habitCompleted(i, $event)">
              </ion-checkbox>
              <button class="trash" ion-button color="danger" (click)="deleteHabit($event,i)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item>
          </div>
          <!-- <ion-button class="habit-submit-button" shape="round" (click)="addRecord($event)">Done</ion-button> -->
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer no-border *ngIf="habitAdded">
  <div class="input-wrap">
    <ion-button class="habit-submit-button" (click)="start()" expand="full" type="submit">Add a Habit</ion-button>
  </div>
</ion-footer>