ion-toolbar {
  position: relative;
  color: white;

  >div {
    display: flex;
  }

  ion-back-button {
    float:left;
    margin-top: -2px;
    display: block;
    color: white;
   }
  ion-title {
    padding-inline-start: 0px;
    font-weight: bold;
  }
}

.privacy {
  padding-left: 15px;
  padding-right: 15px;
  .header-color {
    color:#ff637c;
  }
}