<ion-header>
  <ion-toolbar>
    <div>
      <ion-back-button (click)="privacyBackClick()"> </ion-back-button>
      <ion-title>Privacy Statement</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="privacy">
    <section>
      <h3 class="header-color">1. Purpose</h3>
      <article>
        <p>
          This statement sets out our commitment to your privacy and to the protection of personal data (the "Data") collected and
          processed in connection with your use of the mobile application.
        </p>
      </article>
    </section>
    <section>
      <h3 class="header-color">2. Data collected</h3>
      <article>
        <p>
          The Data that you voluntarily provide: The details such as your name, habit, Journals and your progress of the habit. These
          are the data that you provide us during the onboarding process, adding Journals and when you mark the habit as
          complete. This data is stored locally in your device and not used in our system.
        </p>
      </article>
    </section>
    <section>
      <h3 class="header-color">3. Information we collect</h3>
      <article>
        <p>
          We are not collecting your data as the data is stored on your own device.
        </p>
      </article>
    </section>
    <section>
      <h3 class="header-color">4. Third party links</h3>
      <article>
        <p>
          We may include third party links or offer third party products or services on our app. These third party sites have separate
          and independent privacy policies. We therefore have no responsibility or liability for the content and activities
          of these linked sites. Nonetheless, We seek to protect the integrity of our app and welcome any feedback about
          these sites.
        </p>
      </article>
    </section>
    <section>
      <h3 class="header-color">5. Your Consent</h3>
      <article>
        <p>
          By using our app, you consent to our application's privacy policy.
        </p>
      </article>
    </section>
    <section>
      <h3 class="header-color">6. Changes to our Privacy Policy</h3>
      <article>
        <p>
          If we decide to change our privacy statement, we will include in "what's new?" section of About page.
        </p>
      </article>
    </section>
    <section>
      <h3 class="header-color">7. Contacting us</h3>
      <article>
        <p>
          If you have any questions about this privacy statement, or the practices of this app, you can contact spectrum.chat/paradime.
        </p>
      </article>
    </section>
  </div>
</ion-content>