<ion-content>
  <div class="modal">
    <form [formGroup]="recordForm" (ngSubmit)="addRecord($event)">
      <h3>Fantastical</h3>
      <div class="modal-title" (click)="firstActionClick()">Do a little celebration and write three words to appreciate yourself!
        <ion-text color="danger">*</ion-text>
      </div>
      <ion-item-divider>
        <ion-textarea id="box" [(ngModel)]="recordInput" placeholder="What's up..." formControlName="recordInput">
        </ion-textarea>
      </ion-item-divider>
      <ion-button class="habit-submit-button" expand="full" type="submit" [disabled]="!recordForm.valid">Record</ion-button>
    </form>
  </div>
</ion-content>
