.modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .modal-title {
    padding-left: 5px;
  }

  >div {
    margin-bottom: 10px;
  }
}

