<ion-header>
  <ion-toolbar>
    <div>
      <ion-back-button (click)="journalBackClick()"> </ion-back-button>
      <ion-title>Journals</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card *ngFor="let feed of partfeedData; let i=index">
      <ion-row class="journal-data">
        <ion-col size="3">
          <h5> {{feed.journalfeedDataWeek}}</h5>
          <h2> {{feed.journalfeedDataDate}} </h2>
          <h6> {{feed.journalfeedDataMonth}} </h6>
        </ion-col>
        <ion-col size="9">
          <div class="journal-text">{{feed.journal}} {{feed.habitData?.afterI}}</div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft == 0">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <!-- <ion-card>
      <div class="journal-data" *ngFor="let feed of feedData; let i=index">
        <div> <img src="../../assets/smileys/{{feed.emoticon}}.svg"> </div>
      </div>
    </ion-card> -->
  </ion-grid>
</ion-content>